version: '3.9'

services:
  db:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - '5000:5000'
    depends_on:
      db:
        condition: service_started
    networks:
      - app-network
    volumes:
      # Mount source code for hot reload
      - .:/usr/src/app
      # Use anonymous volume for node_modules to avoid conflicts
      - /usr/src/app/node_modules

    environment:
      - NODE_ENV=development

networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
